#box1{
    border:solid 5px;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: aquamarine;
    padding: 100px;

}
#box2{
    border:solid 5px;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: aqua;
    margin: 50px;

    
}